*
!.gitignore
!.gitattributes
!.editorconfig
!about.html
!blog.html
!contact.html
!donate.html
!events.html
!gallery.html
!index.html
!partner.html
!volunteer.html
!script.js
!styles.css
!assets/
!assets/**
